{% extends 'publicLayout.html.twig' %}

{% block title %}Connexion - {{ parent () }}{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col my-5">
                <div class="card">
                    <div class="card-body bg-orange text-center rounded-top">
                        <h2>Connectez-vous sur PartHub</h2>
                    </div>
                    <form action="" method="post">
                        <div class="form-group my-5">
                            <ul>
                                <li class="list-group-item border-0"><label class="mb-1" for="email">Email: </label><input class="form-control" type="text" name="email" id="email" required> </li>
                                <li class="list-group-item border-0"><label class="mb-1" for="password">Mot de passe: </label><input class="form-control" type="password"name="password" id="password" required></li>
                                <li class="list-group-item border-0 text-center"><input class="btn btn-outline-success" type="submit" id="connexion" name="connexion"value="Connexion"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
