
{% extends 'publicLayout.html.twig' %}

{% block content %}

<p class="text-center my-10"> Merci {{ _POST.name }} de nous avoir contacté à propos de {{ _POST.subject }}. Nous vous repondrons dans les plus brefs délais ! </p>

 {% endblock %}
